<!DOCTYPE html>

<html>

  <head>
    <title> RESPONSE PAGE </title>
  </head>

  <body>
    <h1>
      Howdy, {{username}}!
    </h1>
    
    <h2>
        We loaded this page through a {{request_method}} method!
    </h2>
    
    <h3>
        The difference between the GET and POST method is in the way it loads the page. The GET method loads a page by looking for information in the page's url, while the POST method loads a page by looking for information sent by the POST method. 
    </h3>
    <br>

    Created by Blue Stuff: Daniel Park, Will Nzeuton
  </body>

</html>
